html{
    color: white;
    height: 600pt;
    background-image: url("https://media.istockphoto.com/id/1316043925/vector/print.jpg?s=612x612&w=0&k=20&c=JcV3VeVtwHTEYHAgO-aLJ2QT9oBBlGOYl_KbZls4w5A=");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}